// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$main-screen-button-border-width: 5px;

@import "../material/material.scss";

@mixin mytheme {
    @include material;

    // Insert your own theme rules here

    // ========= START SCREEN =======================
    .v-absolutelayout-startscreen {
        background: #3f4858 url("images/main-background.png") no-repeat center;
        background-size: 100% 100%
    }

    .v-button-borderless-bt-neck-male .v-icon {
        color: rgba(0, 159, 162, 0.8);
        font-size: 20pt;
    }


    .v-button-borderless-bt-neck-female .v-icon {
        color: rgba(0, 159, 162, 0.8);
        font-size: 20pt;
    }

    // ========= exam buttons =======================
    .v-button-bt-pet {
        border: $main-screen-button-border-width solid #99c2ff;
        font-weight: bold;
    }

    .v-button-bt-clinical-exam {
        border: $main-screen-button-border-width solid #0066ff;
        font-weight: bold;
    }

    .v-button-bt-endo {
        border: $main-screen-button-border-width solid #003380;
        font-weight: bold;
    }

    .v-button-bt-intra-op {
        border: $main-screen-button-border-width solid #ff9999;
        font-weight: bold;
    }

    .v-button-bt-ct {
        border: $main-screen-button-border-width solid #cc0000;
        font-weight: bold;
    }

    .v-button-bt-mri {
        border: $main-screen-button-border-width solid #660000;
        font-weight: bold;
    }

    .v-button-bt-sono {
        border: $main-screen-button-border-width solid #99ff99;
        font-weight: bold;
    }

    .v-button-bt-patho {
        border: $main-screen-button-border-width solid #00b300;
        font-weight: bold;
    }

    .v-button-bt-palpation {
        border: $main-screen-button-border-width solid #004d00;
        font-weight: bold;
    }

    .v-button-bt-guided-punction {
        border: $main-screen-button-border-width solid #ffcc80;
        font-weight: bold;
    }

    .v-button-bt-others {
        border: $main-screen-button-border-width solid #ff9900;
        font-weight: bold;
    }

    .v-image-smiley .v-image-caption {
        text-align: center;
    }

    // =================== Exam View =================================

    .center {
        text-align: center;
    }

    .button-bar .v-button {
        width: 140px;
        height: 40px;
    }

    .button-bar .v-button-caption {
        display: block;
        white-space: normal;
        text-align: center;
        font-size: 10px;
    }

    .button-bar {
        margin-bottom: 5px;
    }

    .v-label-done {
        color: green;
        font-weight: bold;
    }

    .v-label-tba {
        color: orange;
        font-weight: bold;
    }

    .v-label-definite-no {
        color: blue;
        font-weight: bold;
    }

    .v-label-no-evidence {
        color: dimgray;
    }


    // =================== Soft evidence window ======================

    // =================== General ===================================

    // icon size of sorting indicator in grid
    .v-grid-header {
        .sortable {
            &::after {
                font-size: 24px;
            }
        }

        .sort-asc,
        .sort-desc {
            font-weight: bold;

            .v-grid-column-header-content {
                font-weight: bold;
            }
        }
    }

    // hover
    .v-grid-row:hover {
        background-color: lightgray;
    }

    // select
    .v-grid-row-selected {
        background-color: gray;
    }
}
